<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="divAll">
        <nav class="navBar"></nav>
        <div class="divDoc">
            <div id="divNamay">Yes, and, if</div>
            <div class="joinHere">
                <nav class="joinMenu">
                    <div id="joinName">
                    </div>
                    <div id="how_many">
                        <p id="how_many_are_there">0</p>
                    </div>
                </nav>
                <div id="join_there">
                    <p>Join</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/port.js"></script>
</body>
</html>